<div class="hero-unit">
  <h2>書籍: <%= @book.title %></h2>

  <div class=""><p><%= @book.author %></p></div>
  <div class=""><p><%= @book.publish_year %></p></div>
  <div class=""><p><%= simple_format @book.comment %></p></div>
</div>
